*{
  margin:0;
  padding:0;
}
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.banner {
  background-color: #CDEF77;
  color: #496403;
  font-family: 'Caveat', cursive;
  position: fixed;
  top: 0;
  width: 100%;
  height: 75px;
  text-align: center;
}
.principal-container {
  display: flex;
}
.listado {
  width: 70%;
  height: 100vh;

}
.menu-right {
  padding-top: 75px;
  width: 30%;
  height: 100vh;
  background-color: #CDEF77;
  color: #496403;
  text-align: right;
  font-family: 'Roboto', sans-serif;
  position: fixed;
  right: 0;
}
.menu-right p { 
  margin-bottom: 20px;
  padding-right: 5%;
}
.menu-right__button { 
  width: 20%;
  height: 50px;
  background-color: #DBD1D2;
  border: 1px solid #DBD1D2;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  color:#496403;
  margin-right: 5%;
  cursor: pointer;
}
.posteos-container {
  margin-top: 95px;
  margin-bottom: 100px;
  align-content: center;
}
.posteo-card {
  width: 80%;
  color: #496403;
  font-family: 'Roboto', sans-serif;
  margin: auto;
  border: 2px solid #00D9E1;
  padding: 20px;
  margin-bottom: 20px;
}
.card-top {
  display: flex;
  justify-content: space-between;
}
.card-top h3 {
  color: #496403;
  font-size: 0.8rem;
}
.card-text {
  text-align: center;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.img-placeholder img{
  width: 200px;
}
.button-delete {
  display: flex;
  justify-content: center;
}
.button-delete button {
  border: 2px solid #435d3a;
  color: #496403;
  background-color: #ffffff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.button-delete button:hover {
  color: #ff7878;
  cursor: pointer;

}
.form-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.text-input {
  height: 150px;
  color: #496403;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  resize: none;
  background-color: #DBD1D2;
}
.text-input::placeholder {
  color:#939089;
  font-family: 'Roboto', sans-serif;
}
.file-upload { 
  background-color: #DBD1D2;
  color: #496403;
  text-align: center;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  margin:10px auto;


}
.file-input {
 opacity:0;
}
form {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  height: 500px;
  width: 90%;
}
.button-send-container {
  display: flex;
  justify-content: right;
}
.button-send {
  width: 50%;
  height: 50px;
  background-color: #DBD1D2;
  border: 1px solid #DBD1D2;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  color:#496403;
  cursor: pointer;

}
.menu-right__inicio-button {
  margin-top: 20px;
  height: 50px;
  background-color: #DBD1D2;
  border: 1px solid #DBD1D2;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  color:#496403;
  cursor: pointer;

}
.menu-right__h2 {
  margin-right: 5%;
}
.menu-right__inicio {
  margin:auto;
}
.menu-right__inputs {
  height: 50px;
  color: #496403;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  resize: none;
  background-color: #DBD1D2;
  margin-top: 20px;
}